body {
  font-family: sans-serif;
  background-color: #ace5f3;
}

a {
  text-decoration: none;
  margin-left: 2%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h6 {
  justify-self: center;
}

.title {
  display: grid;
  justify-items: center;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  justify-content: space-between;
}

.nav-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: right;
}
.nav-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-container {
  display: grid;
}

.info-title {
  justify-self: center;
}

.info-p {
  margin-left: 2%;
  margin-right: 12%;
  margin-top: 0%;
  margin-bottom: 8%;
}

.info-subtitle {
  margin-bottom: 2%;
}

.ducksite-container {
  display: grid;
  width: 50%;
  justify-content: center;
}

.signin-form {
  display: grid;
  justify-content: center;
  grid-gap: 5%;
}

.signin-header {
  justify-self: center;
}

.construct-container {
  display: grid;
  /* grid-auto-flow: column */
  grid-template-columns: 3fr 1fr;
}

.picker-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 3%;
}

.home-container {
  display: grid;
}

.home-title {
  justify-self: center;
}

.nest-container {
  display: grid;
  margin-left: 5%;
}

.container {
  display: grid;
  height: 100%;
}

.delete-button {
  width: max-content;
  height: max-content;
}

#c {
  height: 100%;
  width: 100%;
}
